html
    head
        title -- #{myTitle}
    block scripts
        script(src='js/common.js')
    body
        block content
            article
        block foot
            footer
                p version 1.0
    