<!DOCTYPE html>
<html>
  <head>
    <title>Title in head.pug</title>
    <script>
       console.log("great");</script>
  </head>
  <body>
    <h1>I'm using PUG</h1>
  </body>
  <div class="user-id">535</div>
  <div class="user-login">alcuervo</div>
  <div>
    <div class="name">Alejandro</div>
    <div class="age">27</div>
  </div>
  <p id="idForP">hello there!</p>
  <p class="class-for-p">nothing here</p>
  <div class="classForDiv" id="idForDiv">I'm a div!!</div>
  
  
  <input type="hidden" value="input"><a href="#" onClick="redirect()">redirect</a>q
  
  <form class="form1" method="post" onSubmit="send()" id="2"></form>
  <input class="class2" id="1">
  <p>the total is 7</p><span>text one</span>
  <div class="row">
    <p>welcome back!!</p>
  </div>
  <p>your order is in transit</p>
  <ul>
    <li>0</li>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>
  <ul>
    <li>50-0</li>
    <li>105-1</li>
    <li>293-2</li>
    <li>98-3</li>
  </ul>
  <ol>
    <li>juan : 32</li>
    <li>miguel : 44</li>
    <li>sebas : 20</li>
  </ol>
</html>